body{
    background-color: rgb(248, 232, 166);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;

}

footer{
    text-align: center;
    margin-top: 15px;
}

a{
    color: green;
    padding: 7px;
}

.email-add {
    color: blue;
}